---
import Banner from "../../components/banner.astro"

import "../sakura-dark.css"
import "./blog.css"

const allPosts = await Astro.glob('../blog/posts/*.astro')
allPosts.sort((a, b) => Date.parse(b.date) - Date.parse(a.date));
---

<!Doctype html>
<title>Blog</title>

<body>
    <Banner />
    <nav>
        <ul>
            <li><a href="../">home</a></li>
            <li class="current"><a href=".">blog</a></li>
            <li><a href="../projects/">projects</a></li>
            <li><a href="../links/">links</a></li>
        </ul>
    </nav>
    <h1>Blog</h1>
    <hr>

    {
        allPosts.map((post) => 
            <a href={post.url}>
                <section class="post" onclick='window.location.href = "{post.url}"'>
                    <h1 class="post-header">{post.title}</h1> <small class="date">{post.date}</small>
                    <small>{post.description}</small>
                </section>
            </a>
        )
    }
</body>


