---
import "../sakura-dark.css"
import "./blog.css"

import Banner from "../../components/banner.astro"
import Navbar from "../../components/navbar.astro"


//import * as Test from "./posts/test.md"

const allPostsMD = await Astro.glob('../blog/posts/*.md');
allPostsMD.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));

for (let i in allPostsMD){
    if (allPostsMD[i].frontmatter.draft) {
        allPostsMD.splice(i, 1)
    }
}
---

<!Doctype html>
<head>
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="R2's blog">
    <meta property="og:description" content="My blog!">
    <meta name="theme-color" content="#8ccf7e">
    <title>Blog</title>
</head>

<body>
    <Banner />
    <Navbar selected="blog"/>
    <h1>Blog</h1>
    <hr>

    <h2>
        Latest post:
    </h2>
    {
        allPostsMD.splice(0, 1).map((firstPost) => (
        <a href={firstPost.url}>
            <section class="first-post">
                <img src={firstPost.frontmatter.img}/>
                <h1 class="post-header">{firstPost.frontmatter.title}</h1> 
                <small class="date">{firstPost.frontmatter.date}</small>
                <small>{firstPost.frontmatter.description}</small>
                <p class="content">{firstPost.rawContent().split('\n').filter(line => line[0]!="#")[2]}</p>
            </section>
        </a>
        )
        )
    }
    <hr/>
    <h2>
        Older posts:
    </h2>
    {
        allPostsMD.map((post) => 
            <a href={post.url}>
                <section class="post">
                    <h1 class="post-header">{post.frontmatter.title}</h1> 
                    <small class="date">{post.frontmatter.date}</small>
                    <small>{post.frontmatter.description}</small>
                </section>
            </a>
        )
    }
</body>
